In [8]:
import pandas as pd
import numpy as np
Batting = pd.read_csv('../projectData/Batting.csv')
People = pd.read_csv('../projectData/People.csv')
HOF = pd.read_csv('../projectData/HallOfFame.csv')
HOF
HOF2024 = HOF[(HOF['yearid'] == 2025) & (HOF['inducted'] == 'Y')]
HOF2024
bobby = People[People['nameLast'] == 'Dalbec']
Batting
bobbyStats = Batting[Batting['playerID'] == 'dalbebo01']
bobbyStats

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
23458,dalbebo01,2020,1,BOS,AL,23,NaN,80,13,21,...,0.0,0.0,10,39.0,0.0,2.0,0.0,0.0,0.0,NaN
23459,dalbebo01,2021,1,BOS,AL,133,NaN,417,50,100,...,2.0,0.0,28,156.0,1.0,7.0,0.0,1.0,3.0,NaN
23460,dalbebo01,2022,1,BOS,AL,117,NaN,317,40,68,...,3.0,0.0,29,118.0,0.0,3.0,0.0,4.0,5.0,NaN
23461,dalbebo01,2023,1,BOS,AL,21,21.0,49,6,10,...,1.0,0.0,4,28.0,0.0,0.0,0.0,0.0,0.0,NaN
23462,dalbebo01,2024,1,BOS,AL,37,37.0,83,6,11,...,3.0,0.0,8,43.0,0.0,1.0,1.0,0.0,1.0,0.0