In [1]:
import pandas as pd
import numpy as np
Batting = pd.read_csv('../projectData/Batting.csv')
People = pd.read_csv('../projectData/People.csv')
HOF = pd.read_csv('../projectData/HallOfFame.csv')
HOF
HOF2024 = HOF[(HOF['yearid'] == 2025) & (HOF['inducted'] == 'Y')]
HOF2024

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
69,allendi01,2025,Classic Baseball Era,16.0,12.0,13.0,Y,Player,NaN
4396,parkeda01,2025,Classic Baseball Era,16.0,12.0,14.0,Y,Player,NaN
5027,sabatcc01,2025,BBWAA,394.0,296.0,342.0,Y,Player,NaN
5545,suzukic01,2025,BBWAA,394.0,296.0,393.0,Y,Player,NaN
5920,wagnebi02,2025,BBWAA,394.0,296.0,325.0,Y,Player,NaN

In [ ]:
#merge data sets together (merge Batting stats and HOF) + (merge Pitching stats and HOF) (two different data sets since batting stats and pitching stats do not align with each other)

In [ ]:
#random forests to determine most important features for both batting and pitching

In [ ]:
#use the important features to run logistic regression

In [ ]:
#test logistic regression model on past data to check how accurate it is

In [ ]:
#make predictions into the future

In [ ]:
#we could also use post season stats